@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

#app{
    font-family: 'Nunito', sans-serif;
}

.space{
    padding-top: 15%;
}

.space-2{
    padding-top: 30%;
}

input,
input::-webkit-input-placeholder {
    font-size: 18px;
}

.text-primary-m{
    color:#407BFF;
}

.heading{
    font-weight: 900;
    font-size: 3rem;
}

.heading-2{
    font-size: 2.6rem;
}

.sub-heading{
    font-size: 1.1rem;
}

.title{
    font-weight: 700;
}

.sub-title{
    font-size: 18px;
}

.sub-title-2{
    font-size: 16px;
    font-weight: lighter;
}


.foto-heading{
    position: absolute;
    top: 20%;
    left: 60%;
    width: 30%;
    background-position: center;
    background-repeat: no-repeat;
}

mark {
    display: inline-block;
    line-height: 0em;
    padding-top: 0em;
    padding-bottom: 0.3em;
    background-color: #EFF4FF; 
  }

.brand{
    color:#747474;
}

.vl {
    border-left: 4px solid #4FC033;
    height: 500px;
    margin-right: 1.5%;
    opacity: 50%;
  }

.hover-card {
    transition: all 0.8s;
    margin-bottom: 10px;
}

.hover-card:hover {
    -webkit-box-shadow: 2px 14px 22px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 14px 22px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 14px 22px -2px rgba(0, 0, 0, 0.1);
}

.border-none{
    border: 0px;
    border-radius: 5%;
}

.border-none-1{
    border: 0px;
}

.border-none-testi{
    border: 0px;
}

.bg-wave{
    background-image:url('/asset/bg/bg-wave.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -99;
    height: 1700px;
}

.bg-testi{
    background-image:url('/asset/bg/bg-testi.png');
    background-size: 85% 45%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-position:center;
}

.bg-portofolio{
    width: 90%;
}

.bg-review{
    width: 90%;
}

.box-footer{
    position: relative;
}

.bg-footer{
    width: 90%;
}

.bg-footer-1{
    position: absolute;
    left: 30px;
    top: 100px;
    z-index: 1;
}

.bg-footer-2{
    position: absolute;
    right: 160px;
    top: 415px;
    z-index: 1;
}

.bg-light-primary{
    background-color:#ebf3ff;color:#4c8dee;
}

.bg-footer{
    background-color: #407BFF;
}

.text-green{
    color: #AEFF9C;
}